.container {
    background-color: #f0e6e5;
    height: 90vh;
}

.homerow {
    h1 {
        text-align: center;
        margin-bottom: 110px;
        font-size: 50px;
    }
    .button {
        margin-left: 20px;
        font-size: 32px;
        font: nunito;
        background-color: #f0e6e5;
        color : black;
        border-color: #f0e6e5;
        transition: 0.5s;
    }
    .button:after {
        content: ' →';
        opacity: 0;  
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
    .button:hover {
        padding-right: 24px;
        padding-left:8px;
        color: black;
    }
    .button:hover:after {
        opacity: 1;
        right: 10px;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 150px;
    .card {
        background-color: #f0e6e5;
    }
}

