.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 150px;
    a {
        text-decoration: none;
    }
    .card {
         background-color: #f0e6e5;
         box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
         border-radius: 21px;
         text-align: center;
         font-size: 25px;
         padding-top: 10px;
         align-items: center;
         color: black;
         transition: 0.5s ease;
         &:hover {
             background-color: white;
             opacity: 1;
         }
         img {
             margin-top: 30px;
             margin-bottom: 30px;
             height: 100px;
             width: 100px;
             border-radius: 50%;
         }
         .italic {
             font-style: italic;
             height: 50px;
             margin-top: 20px;
             font-size: 18px;
        }
    }
}
